@use 'variables' as vars;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: vars.$font-family-base;
  font-size: vars.$font-size-base;
  line-height: vars.$line-height-base;
  color: vars.$color-dark;
  background-color: vars.$color-light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}